    <div class='col-xs-12 col-sm-6 col-sm-offset-3 col-lg-4 col-lg-offset-4'>
      <h3>Forgotton Password</h3>
      <div class="row">
        <p>Did you forget your password?  No problem.  We'll send you a code via text message to reset it.</p>
      </div>

      <%= form_tag verify_member_sessions_path do %>
        <div class='row'>
          <%= label_tag :email %><br />
          <%= text_field_tag :email, params[:email] %>
        </div>
        <div class="row">
          <p>OR</p>
        </div>
        <div class='row'>
          <%= label_tag :phone, "Cell Phone" %><br />
          <%= telephone_field_tag :phone %>
        </div>
        <div class='row'>
          <br/>
        <%= submit_tag( "Send Code", :class => "btn btn-primary", :data => { :disable_with => "Sending..."} ) %>
        </div>
      <% end %>
    </div>
