    <div class='col-xs-12 col-sm-6 col-sm-offset-3 col-lg-4 col-lg-offset-4'>
      <h3>Verify Your Account</h3>
      <div class="row">
        <p>When you get your code, enter it below</p>
      </div>

      <%= form_tag change_password_sessions_path do %>
        <div class='row'>
          <%= label_tag :code, "Verification Code" %><br />
          <%= telephone_field_tag :code, params[:code], :required => true %>
        </div>
        <div class='row'>
          <%= label_tag :password, "New Password" %><br />
          <%= password_field_tag :password %>
          <%= hidden_field_tag :member_id, @member.id %>
        </div>
        <div class='row'>
        <%= submit_tag( "Update Password", :class => "btn btn-primary", :data => { :disable_with => "Updating..."} ) %>
        </div>
      <% end %>
    </div>
