  <div class='col-xs-12 col-sm-10 col-sm-offset-1'>
    <h3 style="margin-top: 0px;">Update Date Night Slot</h3>
    <div class='col-sm-12'>
      <%= simple_form_for @date_night_slot,
            :url => admin_date_night_slot_path(@date_night_slot),
            :method => :put,
            :html => {class: "form-horizontal"},
                      wrapper: :horizontal_form,
                      wrapper_mappings: {
                        check_boxes: :horizontal_radio_and_checkboxes,
                        radio_buttons: :horizontal_radio_and_checkboxes,
                        file: :horizontal_file_input,
                        boolean: :horizontal_boolean
                      } do |f| %>
        <%= f.input :available_on,
                    :as => :string,
                    :input_html => {:value => @date_night_slot.available_on.strftime('%Y-%m-%d'),
                                    :class => "date adjust-size" } %>
        <%= f.input :starting_at,
                    :as => :string,
                    :input_html => {:value => @date_night_slot.starting_at.strftime('%l:%M %p'),
                                    :class => "time adjust-size"} %>
        <%= f.input :guaranteed_openings %>
        <%= f.submit "Submit" %>
      <% end %>
    </div>
    <script>
    </script>
  </div>