  <div class='col-xs-12 col-sm-6 col-sm-offset-3 col-lg-4 col-lg-offset-4' style="padding-left: 0px; padding-right: 0px; font-size: 12px;">
    <h3 style="margin-top: 0px;">Payments Enrollment</h3>
    <p>
      <%= @provider.first_name.titleize %>, We just need a few details to setup your account. (all fields are required)
    </p>
    <%= form_tag(provider_add_bank_account_path(@provider), :method => :post, :class => "form-horizontal", :id=>'braintree-merchant-form') do %>
      <%= fields_for(@provider) do |p| %>
      <div class="form-group row">
        <div class="col-xs-5"><%= p.label :first_name, "First Name:" %></div>
        <div class="col-xs-7"><%= p.text_field :first_name %></div>
      </div>
      <div class="form-group row">
        <div class="col-xs-5"><%= p.label :last_name, "Last Name:" %></div>
        <div class="col-xs-7 col-lg-3"><%= p.text_field :last_name %></div>
      </div>
      <div class="form-group row">
        <div class="col-xs-5"><%= p.label :phone, "Phone:" %></div>
        <div class="col-xs-7 col-lg-3"><%= p.telephone_field :phone %></div>
      </div>
      <% end %>
      <h4>Bank Account Details</h4>
      <p>
        All payments will be conveniently deposited directly into your bank account.<br>
        <%= link_to "Where can I find this information?", "#gonowhere" %>
      </p>
      <div class="form-group row">
        <div class="col-xs-5"><%= label_tag(:account_number, "Account Number:") %></div>
        <div class="col-xs-7 col-lg-3"><%= text_field_tag(:account_number,
                                                          @account_number,
                                                          :data => {:encrypted_name => "account_number"},
                                                          :maxlength => 18,
                                                          :required => true,
                                                          :title => "Your Account Number") %></div>
      </div>
      <div class="form-group row">
        <div class="col-xs-5"><%= label_tag(:routing_number, "Routing Number:") %></div>
        <div class="col-xs-7 col-lg-3"><%= number_field_tag(:routing_number,
                                                            @routing_number,
                                                            :data => {:encrypted_name => "routing_number"},
                                                            :maxlength => 9,
                                                            :required => true,
                                                            :title => "Your Routing Number") %></div>
      </div>
      <div class="form-group row">
        <div class="col-xs-8 col-xs-offset-4">
          <%= check_box_tag(:tos, true, !(@fd.nil?), :required => true, :title => "Terms of Use" ) %>
          <%= label_tag(:tos, "I accept the Terms") %>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-xs-6 col-xs-offset-3"><%= submit_tag("Enroll me", :class=>"btn btn-primary", :disabled => !@fd.nil?) %></div>
      </div>
    <% end %>
  </div>
