<div class='col-xs-12 col-sm-10 col-sm-offset-1 std-template'>
  <h3 style="margin-top: 0px;">Upcoming Availability</h3>
  <% @slots.each do |s| %>
    <div class='row datenight-record std-template'>
      <div class='col-xs-6 col-md-4 col-md-offset-2'>
        <%=s.available_on.strftime("%a, %d %b %Y") %>
      </div>
      <div class='col-xs-6 col-md-4 std-template'>
        <% dns = s.date_night_sittings.where("provider_id =?", @provider.id).first %>
        <% if dns.nil? %>
          <%= simple_form_for(DateNightSitting.new, :url => date_night_sitting_index_path(:format =>:json),:method => :post, :authenticity_token => true, :remote => true, :input_html => {"data-type" => :json}) do |f| %>
            <%= f.input :provider_id, :as => :hidden, :input_html => { :value => @provider.id }  %>
            <%= f.input :date_night_slot_id, :as => :hidden, :input_html => { :value => s.id } %>
            <%= f.input_field :status, :collection => DateNightSitting.new.status_editable_options, :include_blank => true, :class => "phone-visible" %>
            <%= f.submit "submit" %>
          <% end %>
        <% else %>
          <% if dns.status_editable? %>
            <%= simple_form_for( dns, :url => date_night_sitting_path(dns, :format =>:json), :method => :patch, :authenticity_token => true, :remote => true, :input_html => {"data-type" => :json}) do |f| %>
                <%= f.input_field :status, collection: dns.status_editable_options, :selected => dns.status, :onchange => 'this.form.submit()', :class => "phone-visible" %>
            <% end %>
          <% else %>
            <%= s.date_night_sittings[0].status %>
          <% end %>
        <% end %>
      </div>
    </div>
  <% end %>
  <div clas='row-fluid col-xs-12 dashboard-trans'><%= will_paginate(@slots) %></div>
  <%= link_to "Close", dashboard_member_path, :class => "btn btn-primary" %>
</div>
