        <div class="form-group row-fluid">
          <div class="col-xs-5">
            <%= s.label :last_name, "Family last name" %>
          </div>
          <div class="col-xs-7">
            <%= s.input_field :last_name, :required => true, :maxlength => 20, :placeholder => "e.g., Jones" %></div>
        </div>
        <div class="form-group row-fluid">
          <div class="col-xs-5">
            <%= s.label :phone, "Cell Phone" %>
          </div>
          <div class="col-xs-7">
            <%= s.input_field :phone, :required => true, :pattern => "[0-9]*", :maxlength => 15, :placeholder => "555.555.5555" %>
          </div>
        </div>
        <div class="form-group row-fluid col-xs-12">
            <%= link_to "see existing families", settle_up_member_path(:id => params[:id]) if @network.count > 0 %>
        </div>
