  <h1>Sign Up</h1>
  
  <%= simple_form_for(@member, html: {class: 'form-inline' }) do |f| %>
    <% if @member.errors.any? %>
      <div class="error_messages col-sm-12">
        <h2>Form is invalid</h2>
        <ul>
          <% for message in @member.errors.full_messages %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <div class='col-sm-12'>
      <%= f.input :email, placeholder: 'user@domain.com' %>
      <%= f.input :password %>
      <%= f.button :submit %>
    </div>
  <% end %>

