<div class='col-xs-12 col-sm-6 col-sm-offset-3 col-lg-4 col-lg-offset-4'>
  <h3 style="margin-top: 0px;">Sitter Dashboard</h3>
  <p>Welcome <%= @member.full_name.titleize %></p>
  <div class='row well' style="padding: 5px 0px;">
    <div class='col-xs-4 centre'>
      <p>Jobs</p>
      <p style="font-size: x-large; font-weight: 500;">
        <%= @ttl_paid_jobs %>
      </p>
    </div>
    <div class='col-xs-4 centre'>
      <p>Earnings</p>
      <p style="font-size: x-large; font-weight: 500;">
        <%= number_to_currency(@ttl_amt, :precision => 0) %>
      </p>
    </div>
    <div class='col-xs-4 centre'>
      <p>Avg. Rate</p>
      <p style="font-size: x-large; font-weight: 500;">
        <%= number_to_currency(@avg_rate, :precision => 0) %>
      </p>
    </div>
  </div>

    <div class='row col-sm-12'>
      <%= link_to("Update DateNight Availability",  date_night_availability_member_path(@member), :class => "btn btn-lg btn-primary max-width") %>
    </div>
    <div class='row col-sm-12'>
      <%= link_to("Wrap up and get paid", settle_up_member_path(@member), :class => "btn btn-lg btn-info max-width", :disabled => (@member.merchant_account_id.nil?) ) %>
    </div>
    <div class='row col-sm-12'>
      <%= #link_to("Invite Parents to Join",  invite_parent_member_path(@member), :class => "btn btn-lg btn-info max-width")
      %>
    </div>
  <%= render :partial => "transactions" %>
</div>
