    <div class='container-fluid'>
      <h3 style="margin-top: 0px;">Payments Dashboard</h3>
      <p>Welcome <%= @member.full_name.titleize %></p>
      <div class='row well'>
        <div class='col-xs-4 col-xs-offset-1'>
          <span style="font-size: x-large; font-weight: 500;">
            <%= @member.transactions.where(:status => :paid).count %>
            </span>
          jobs paid
        </div>
        <div class='col-xs-6 col-xs-offset-1'>
          <span style="font-size: x-large; font-weight: 500;">
            <%= number_to_currency(@member.transactions.where(:status => :paid).pluck(:amount_cents).reduce(0, :+) / 100.to_f, :precision => 0) %>
            </span>
          earned
        </div>
      </div>
      <% if @member.merchant_account_id.nil? %>
        <div class='row col-sm-12'>
          <%= link_to("Add bank account", bank_account_member_path(@member), :class => "btn btn-lg btn-primary max-width") %>
        </div>
      <% else %>
        <div class='row col-sm-12'>
          <%= link_to("Invite Parents to Join", invite_parent_member_path(@member), :class => "btn btn-lg btn-primary max-width") %>
        </div>
        <div class='row col-sm-12'>
          <%= link_to("Wrap up and get paid", settle_up_member_path(@member), :class => "btn btn-lg btn-info max-width") %>
        </div>
      <% end %>
      <%= render :partial => "transactions" %>
    </div>
