  
  <div class='col-xs-12 col-sm-6 col-sm-offset-3 col-lg-4 col-lg-offset-4' style="padding-left: 0px; padding-right: 0px; font-size: 12px;">
    <h3 style="margin-top: 0px;">Babysitting Wrap up</h3>
    <p>
      All finished babysitting?  Great!  let's wrap up with your family, so they can pay you.
    </p>

  <%= form_tag(submit_bill_member_path(@provider), :method => :post, :class => "form-inline") do %>
    <div id="durationPair" class="form-group row">
      <div class="col-xs-6">
        <%= label_tag(:started_at, "Started At:") %>
        <%= text_field_tag(:started_at, nil,:required => true, :class => "time start") %>
        <%= hidden_field_tag(:started_date, nil, :class => "date start") %>
        
      </div>
      <div class="col-xs-6">
        <%= label_tag(:ended_at, "Ended At:") %>
        <%= text_field_tag(:ended_at, nil, :required => true, :class => "time end") %>
        <%= hidden_field_tag(:ended_date, nil, :class => "date end") %>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-xs-6">
        <%= label_tag(:rate, "Your Typical Rate") %>
    </div>
      <div class="col-xs-6">
        <%= number_field_tag(:rate, nil, :required => true, :maxlength => 2, :in => 5.0..30.0, :step => 0.25) %> per hour</div>
    </div>
    <div class="form-group row">
      <div class="col-xs-12">
        Don't worry, we'll let the parents enter the amount they want to pay!
      </div>
    </div>
    <h4>Who did you sit for?</h4>
    <div class="form-group row">
      <div class="col-xs-6"><%= label_tag(:seeker_last_name, "Parent's Last Name") %></div>
      <div class="col-xs-6"><%= text_field_tag(:seeker_last_name, nil, :required => true, :maxlength => 20) %></div>
    </div>
    <div class="form-group row">
      <div class="col-xs-6"><%= label_tag(:seeker_phone, "Parent's Mobile #") %></div>
      <div class="col-xs-6"><%= phone_field_tag(:seeker_phone, nil, :required => true) %></div>
    </div>
    <div class="row-fluid">
      <div class="col-xs-6 col-xs-offset-3">
        <%= submit_tag("Notify family", :class=>"btn btn-primary") %>
      </div>
    </div>
  <% end %>
  </div>